  /* Navbar */
  .navbar{
    max-height: 60px; 
  }
  .navigation .navbar-brand{
    color: white; 
    margin-left: 30px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: #0BADA6;
  }
  .navbar{
    background-color: white; 
    font-size: 15px; 
  }
  

.logo {
  font-weight: bold;
  
  color:white;
  font-size: 40px;
  font-style:bold;
  
}

.first image {
  width: 20%; 
  float: left; 
  margin : 5px;

}

.text {
  float: right;
}


.image{
  height: 400px;
  width : 500px;
  
}